apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
  - ../../helm_base
namespace: demo-7-dev
commonLabels:
  app.kubernetes.io/part-of: kitchensink-app
  app.kubernetes.io/managed-by: argocd
# generatorOptions:
#   disableNameSuffixHash: true
secretGenerator:
  - name: kitchensink-database-secret
    behavior: replace
    literals:
      - DB_HOST=kitchensink-db
      - DB_USERNAME=luke
      - DB_PASSWORD=secret
      - DB_NAME=kitchensink
images:
  # RESET with this data
  # - name: image-registry.openshift-image-registry.svc:5000/demo-7-dev/kitchensink:latest
  #   newName: image-registry.openshift-image-registry.svc:5000/demo-7-dev/kitchensink
  #   newTag: latest
  - name: image-registry.openshift-image-registry.svc:5000/demo-7-dev/kitchensink:latest
    newName: image-registry.openshift-image-registry.svc:5000/kitchensink-cicd/kitchensink@sha256
    newTag: 79a04f3b0096bc935b81553f56300c611acb8f88a567c6b2a8aef68137ca2a08
patchesJson6902:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: kitchensink
    path: patch/deployment_patch.yml
