appName: quickstart

gitUrl: https://github.com
gitRevision: main
gitUsername: atarazana
baseRepoName: kitchensink-conf
kitchensinkRepoName: kitchensink
kitchensinkRevision: main

kitchensinkArgoAppBaseName: kitchensink-kustomized-helm-app

ocpVersion: "4.12"

containerRegistryServer: quay.io
containerRegistryOrg: varadero

cicdNamespace: kitchensink-cicd

kitchensinkBuilderImage: jboss-eap72-openshift:1.2

buildahBuilderImage: registry.redhat.io/rhel8/buildah@sha256:6a68ece207bc5fd8db2dd5cc2d0b53136236fb5178eb5b71eebe5d07a3c33d13
jbossEapBuilderImage: image-registry.openshift-image-registry.svc:5000/openshift/jboss-eap72-openshift:1.2

sourceWorkspaceSize: 10Gi
cacheWorkspaceSize: 10Gi

pipelinesServiceAccountName: build-bot
jenkinsServiceAccountName: jenkins-bot

containerRegistrySecretName: container-registry-secret
gitPatSecretName: git-pat-secret
gitPatSecretKey: password

gitSslVerify: true

# Pipelines have these stages => overlays
overlays: "dev,test"

# Service names Kitchensink is made of services, these are their names
kitchensinkServiceName: kitchensink

# Overlays relative path in the config repository
kitchensinkOverlayPath: ./advanced/overlays

# Sub Overlays names separated by blank
kitchensinkSubOverlays: 'L01 L02'

# Pipeline names

## These pipelines run CI tasks and are triggered by PUSH to the source code git repo
## The final task sends a PR to the config repository for the first overlay
kitchensinkContinuosIntegrationPipeline: kitchensink-ci-pl

## These pipelines run CD tasks and are triggered by PULL REQUESTS closed and merged to the config repo
kitchensinkContinuosDeliveryPipeline: kitchensink-cd-pl

# Pipelines triggers

## CI pipelines triggered by PUSH
kitchensinkCiPushTriggerRootName: kitchensink-ci-pl-push

## CD pipelines triggered by PR closed and merged
kitchensinkCdPrTriggerRootName: kitchensink-cd-pl-pr

## MAVEN MIRROR
mavenMirror: http://nexus.metromadrid.net:8081/nexus/repository/maven-public
